<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Fragile Oasis</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="img/apple-touch.png"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="apple-touch-startup-image" href="img/startup.png">
		<meta name="description" content="">
		<meta name="author" content="">
	
	<!-- Styles -->
		<link href="styles/bootstrap.css" rel="stylesheet" type="text/css">
		<!--link href="styles/bootstrap-responsive.css" rel="stylesheet" type="text/css"-->
		<link href="styles/popover.css" rel="stylesheet" type="text/css">
		<link href="styles/main.less" rel="stylesheet/less" type="text/css">
		<link href="styles/popup.less" rel="stylesheet/less" type="text/css">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	
	<!-- Scripts -->
	<script src="scripts/libs/jquery.js"></script>
	<script src="scripts/libs/less.js"></script>
	<!--script src="scripts/libs/bootstrap.js"></script-->
	
	<script src="scripts/detectMobile.js"></script>
	<script src="scripts/popup.js"></script>
	<script src="scripts/popover.js"></script>
	<script src="scripts/settings.js"></script>
	<script src="scripts/map.js"></script>

	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body onload="initialize()">
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/"><img src="img/nav_logo.png" alt="Fragile Oasis"></a>
			<ul class="nav" id="nav">
				<li id ="map" class="active"><a href="">Map</a></li>
			</ul>
			<ul class="nav pull-right">
				<li id="categories"><a href="#" onclick="showSettings()"><img src="img/settings.png" alt="Settings"></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div id="popup">
		<div class="mask" onclick="closePopup()">
		</div>
		<div class="frame">
			<div id="close" onclick="closePopup()"><i class="icon-remove"></i></div>
			<div class="scrollbar"></div>
			<div class="wrapper">
				<div class="content">
				</div>
			</div>
		</div>
	</div>
</body>
	<div class="popover" id="popover">
        <div class="popover-content">
            <div class="arrow"><span></span></div>
            <div class="popover-body">
                <ul>
                    <li>Communication<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Community<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Education<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Energy<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Environment<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Food<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Health<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Peace<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Research<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Water<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="settings"></div>
	<div id="map_canvas"></div>
</div>
</body>
</html>
