<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Fragile Oasis</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="apple-touch.png" />
		<meta name="description" content="">
		<meta name="author" content="">
	
	<!-- Styles -->
		<link href="styles/bootstrap.css" rel="stylesheet" type="text/css">
		<!--link href="styles/bootstrap-responsive.css" rel="stylesheet" type="text/css"-->
		<link href="styles/popover.css" rel="stylesheet" type="text/css">
		<link href="styles/main.less" rel="stylesheet/less" type="text/css">
		<link href="styles/popup.less" rel="stylesheet/less" type="text/css">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	
	<!-- Scripts -->
	<script src="scripts/libs/jquery.js"></script>
	<script src="scripts/libs/less.js"></script>
	<script src="scripts/libs/protovis.js"></script>
	<script src="scripts/popup.js"></script>
	<script src="scripts/popover.js"></script>
	<!--script src="scripts/libs/bootstrap.js"></script-->
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="scripts/visualization.js" type="text/javascript+protovis"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	
	
<script>
function initialize() {
	positionColumn = 4;
	categoryColumn = 1;
	markersArray = [];
	UnSelectedCategories = new Array();
	
	var mobile = function(){
		return {
			detect:function(){
				var uagent = navigator.userAgent.toLowerCase(); 
				var list = this.mobiles;
				var ismobile = false;
				for(var d=0;d<list.length;d+=1){
					if(uagent.indexOf(list[d])!=-1){
						ismobile = true;
					}
				}
				return ismobile;
			},
			mobiles:[
				"midp","240x320","blackberry","netfront","nokia","panasonic",
				"portalmmm","sharp","sie-","sonyericsson","symbian",
				"windows ce","benq","mda","mot-","opera mini",
				"philips","pocket pc","sagem","samsung","sda",
				"sgh-","vodafone","xda","palm","iphone",
				"ipod","android","iPad", "ipad"
			]
		};
	}();
	
	
	if(mobile.detect()){
		$("#categories").css({display:"inline"});
		popoverIsDisplayed = new Boolean();
		popoverIsDisplayed = false;
	}
		
	var myOptions = {
		center: new google.maps.LatLng(46.519776,6.565533),
		zoom: 5,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	map = new google.maps.Map(document.getElementById("map_canvas"),
	myOptions);

	if(navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
			pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			map.setCenter(pos);
		}, function() {
			handleNoGeolocation(true);
		});
	} else {
		// Browser doesn't support Geolocation
		handleNoGeolocation(false);
	}
	
	getData(3616702);

	function handleNoGeolocation(errorFlag) {
  		if (errorFlag) {
    		var content = 'Error: The Geolocation service failed.';
  		} 
		
		else {
    		var content = 'Error: Your browser doesn\'t support geolocation.';
  		}

		var options = {
			map: map,
			position: new google.maps.LatLng(60, 105),
			content: content
		};
	}

	function getData(table) {
		// Builds a Fusion Tables SQL query and hands the result to dataHandler()

		var queryUrlHead = 'http://www.google.com/fusiontables/api/query?sql=';
		var queryUrlTail = '&jsonCallback=?'; // ? could be a function name

		// write your SQL as normal, then encode it
		var query = "SELECT * FROM " + table;
		var queryurl = encodeURI(queryUrlHead + query + queryUrlTail);

		var jqxhr = $.get(queryurl, handleData, "jsonp");
	}
	
	function handleData(d){
		data = d.table.rows;
		tempData = jQuery.extend(true, {}, data);
		clearOverlays();
		drawpins();	
	}

}
</script>
<script>
function drawpins() {	
	for (i=0 ; i < data.length ; i++){
		var buffer = data[i];
		for (j	=0; j < UnSelectedCategories.length ; j++){
			if (buffer[categoryColumn] == UnSelectedCategories[j]){
				tempData.splice([i],1);
			}
		}
	}
	console.log (data);
	
// loop through all rows to add them to the map
	for (var i = 0; i < data.length; i++) {
    // Per the expected data format [25,-7.854167,131.3026], 
    // lat is stored in d[row][1] and lon is stored in d[row][2]
    // probability is the first element of the array
		positionArray = data[i][positionColumn].split(',');
		
    	var latlon = new google.maps.LatLng(positionArray[0], positionArray[1]);

    	var marker = new google.maps.Marker({
        position: latlon,
        rowid: i,
        map: map
    });
	
		var locationObject = data[i];
	
    	var fn = markerClick(map, marker, locationObject);
		markersArray.push(marker);
    	google.maps.event.addListener(marker, 'click', fn);
	}
}

function markerClick(map, m, locationObject) {
	return function() {
    	popup(locationObject)
	};
}
</script>

</head>
<body onload="initialize()">
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/"><img src="img/nav_logo.png" alt="Fragile Oasis"></a>
			<ul class="nav" id="nav">
				<li id ="map" class="active"><a href="">Map</a></li>
				<li id="categories"><a href="javascript:showHidePopOver()">Categories</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div id="popup">
		<div class="mask" onclick="closePopup()">
			<div class="frame">
				<div id="close" onclick="closePopup()"><i class="icon-remove"></i></div>
				<div class="scrollbar"></div>
				<div class="wrapper">
					<div class="content">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
	<div class="popover" id="popover">
        <div class="popover-content">
            <div class="arrow"><span></span></div>
            <div class="popover-body">
                <ul>
                    <li>Communication<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Community<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Education<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Energy<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Environment<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Food<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Health<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Peace<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Research<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
					<li>Water<div class="switch on"><span class="thumb"></span><input type="checkbox"></div></li>
                </ul>
            </div>
        </div>
    </div>
	<!--div class="page-header">
		<h1>Map</h1>
	</div-->
	<div id="map_canvas"></div>
</div>
</body>
</html>
